body {
  text-align:center;
  font-size: 90px;
  color:white;
  background-color:black;
}

button {
  color: white;
  background-color: #295f94;
  height: 25px;
  margin-bottom: 15px;
}

h1 {
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 {
  font-size: 30px;
  margin-top: 10px;
}

h3 {
  font-size: 15px;
  color: #71b9ff;
}

#One, #Two, #Four, #Five {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

#Three, #Six {
  border-bottom: 1px solid white;
}

#Seven, #Eight {
  border-right: 1px solid white;
}

.toe {
  height: 100px;
  width: 100px;
  float: left;
  cursor: pointer;
}

#board {
  display: inline-block;
}
